button {
  background-color: #345453;
  padding: 10px;
  margin: 5px;
  width: 100px;
}

body {
  background-color: whitesmoke;
}

footer {
  margin: 20px;
  a {
    font-size: 20px;
    color: grey;
    padding: 10px;
    margin: 10px;
    background: #443245;
    text-decoration: none;
  }
}
