/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #162b4d;
  --link: #fff;
  --link--hover: #b8b8b8;
  --bg-footer-color: #162b4d;;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
@media screen and (max-width: 1400px) {
  body {
    margin: 0 auto;
    width: 80%;
    background: var(--bg-color--dark, #0b192f);
  }

  .header {
    background-color: var(--bg-color--header);
    color: var(--link);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header h3 {
    margin-right: auto;
    font-weight: 200;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .header h3 span {
    color: #D12955;
  }
  .nav ol {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  .nav ol li a {
    text-decoration: none;
    color: var(--link);
    padding: 20px;
  }
  .nav ol li a:hover {
    background-color: var(--link--hover);
  }
  .nav ol li:last-child {
    text-decoration: none;
    color: var(--link);
    margin-right: 40px;
  }

  .main {
    margin: 15px 15px 15px 0;
    max-width: 76%;
    color: #FFFFFF;
    font-weight: 200;
  }
  .post-1, .post-2, 
  .post-3, .post-4 {
    display: flex;
  }
  .post-1 img, .post-2 img,
  .post-3 img, .post-4 img {
    max-width: 50%;
    width: auto;
    height: auto;
    cursor: pointer;
  }
  .post-1 img:hover, .article-1:hover, 
  .post-2 img:hover, .article-2:hover,
  .post-3 img:hover, .article-3:hover, 
  .post-4 img:hover, .article-4:hover {
    opacity: 0.5;
  }
  .post-1 .article-1,
  .post-2 .article-2,
  .post-3 .article-3,
  .post-4 .article-4,
  .post-5 .article-5 {
    position: relative;
    padding: 30px;
    cursor: pointer;
  }
  .article-1 > h1, 
  .article-2 > h1,
  .article-3 > h1,
  .article-4 > h1,
  .article-5 > h1 {
    font-size: 40px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 0;
    width: 70%;
  }
  .article-1 h1 ~ p, 
  .article-2 h1 ~ p,
  .article-3 h1 ~ p,
  .article-4 h1 ~ p,
  .article-5 h1 ~ p {
    width: 75%;
    height: auto;
    font-size: 14px;
  }
  .absolute-1,
  .absolute-3,
  .absolute-5 {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 28px;
  }
  .absolute-1 p,
  .absolute-2 p,
  .absolute-3 p,
  .absolute-4 p,
  .absolute-5 p {
    font-size: 52px;
    margin: 0;
  }

  .post-2 img,
  .post-4 img {
    order: 1;
  }
  .article-2,
  .article-4 {
    text-align: end;
  }
  .article-2 > h1,
  .article-2 h1 ~ p,
  .article-4 > h1,
  .article-4 h1 ~ p {
    margin-left: auto
  }
  .absolute-2,
  .absolute-4 {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 28px;
  }
  .article-5 > h1,
  .article-5 h1 ~ p {
    width: 90%;
  }
  .absolute-5 {
    text-align: center;
  }

  section {
    display: flex;
  }

  .aside {
    max-width: 23%;
    margin-bottom: 15px;
    display: inline-block;
  }
  .article-aside {
    background-color: var(--link);
    margin-top: 15px;
  }
  .article-aside img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .aside-text {
    padding: 25px;
    font-weight: 200;
  }
  .aside-text h2 {
    font-weight: 300;
    font-size: 28px;
    color: black;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .aside-text h2 ~ p {
    margin: 0;
  }

  .footer {
    background-color: var(--bg-footer-color);
    display: flex;
    padding: 20px;
    color: white;
    font-weight: 200;
    font-size: 14px;
  }
  .footer p {
    margin: 0;
    margin-top: 5px;
  }
  .footer .coding-name {
    margin-left: auto;
    width: 11%
  }
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 10px;
  }
  .nav {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .menu-button div {
    width: 25px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 6px 0;
  }
  .header {
    flex-direction: column-reverse;
    margin-right: 15px;
  }
  .header h3 {
    margin: 30px 0;
  }
  .header .menu-button {
    margin: 15px 0;
  }
  .post-1, .post-2, .post-3, .post-4, .post-5 {
    flex-wrap: wrap;
  }
  .main {
    max-width: 58%;
  }
  .post-1 img, 
  .post-2 img, 
  .post-3 img, 
  .post-4 img {
    max-width: 100%;
    height: auto;
    width: auto;
    flex: 1;
  }
  .post-2 img,
  .post-4 img {
    order: 0;
  }
  .article-2 > h1,
  .article-2 h1 ~ p,
  .article-4 > h1,
  .article-4 h1 ~ p {
    margin-left: 0;
    text-align: start;
  }
  .article-1,
  .article-2,
  .article-3,
  .article-4{
    margin-bottom: 80px;
  }
  .post-5 .article-5 {
    padding-bottom: 110px;
  }
  .absolute-1,
  .absolute-2,
  .absolute-3,
  .absolute-4,
  .absolute-5 {
    position: absolute;
    display: inline-block;
    top: unset;
    right: 45%;
    font-size: 28px;
  }

  .aside {
    max-width: 38%;
    margin-right: 15px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 15px;
  }
  .footer .coding-name {
    margin-left: 0;
    width: 17%
  }
}
@media screen and (max-width: 480px) {
  section {
    flex-direction: column;
  }
  .main {
    max-width: 100%;
    margin-bottom: 0;
  }
  .aside {
    max-width: 100%;
    margin-top: -15px;
    padding-top: 0;
  }
  .footer .coding-name {
    width: 30%;
  }
}