$bgImage: url('../img/m-h-day.jpg');
$fontFamilyHeader: 'Source Sans Pro', sans-serif;
$headerColor: #2C2F3C;
$fontFamilyLandingLogo: 'Hind', sans-serif;
$fontFamilyHeaderText: $fontFamilyLandingLogo;
$bgUnderline: #0ca1c8;
$buttonColor: #699a00;
$backgroundColorMain: #ffffff;
$bgBodyColor: $backgroundColorMain;
$mainColor: $headerColor;
$fontFamilySectionCardText: $fontFamilyLandingLogo;
$backgroundSectionCard: #1c1e2a;
$backgroundColorFooter: $backgroundSectionCard;
$fontFamilyFooter: $fontFamilyLandingLogo;
$backgroundImageBanner: linear-gradient(90deg, #63930e, #2859dc);