$bgImage: url('../img/m-h-night.jpg');
$fontFamilyHeader: 'Source Sans Pro', sans-serif;
$headerColor: #FFFFFF;
$fontFamilyLandingLogo: 'Fresca', sans-serif;
$fontFamilyHeaderText: $fontFamilyLandingLogo;
$bgUnderline: #FF4E33;
$buttonColor: #E3AC00;
$backgroundColorMain: #21232E;
$bgBodyColor: $backgroundColorMain;
$mainColor: $headerColor;
$fontFamilySectionCardText: $fontFamilyLandingLogo;
$backgroundSectionCard: #3B3F50;
$backgroundColorFooter: $backgroundSectionCard;
$fontFamilyFooter: $fontFamilyLandingLogo;
$backgroundImageBanner: linear-gradient(90deg, #DB9F08, #942E51);